<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        body{
            background-color: #2d3436;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            overflow-y: hidden;
            
        }
        .user_container{
            
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            
        }
        a{
            text-decoration: none;
            color: cornflowerblue;
        }
        img{
            width: 44px;height: 44px;border-radius: 50%;border: 1px solid #f9f9f9;object-fit: cover;
            margin-left: 20px;margin-top: 10px;
        }
    </style>
</head>
<body>

         
                <div class="user_container">
                    
                    <h3 style="color: #fff;text-align: center; margin-top: 10px;">User Dashboard
                       
                      </h3>
                      <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="icon">
      
                      <h2 style="font-size: 25px;color: #fdcb6e;text-align: center;padding: 20px;">
      
                          Welcome to Dashboard {{user}} 
      
                      </h2>


                      <div class="links">
                          <a href="/">Signup here</a>
                          
                      </div>
                </div>
         
    
</body>
</html>